* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

.main {
	/*border: solid gold;*/
	background-image: linear-gradient(rgba(95,207,72,0), rgba(0,128,128,.6)), url(img/full1.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	padding: 100px 0;
}

.hero-text {
	display: block;
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.hero-text > span {
	display: inline-block;
	color: #fff;
	font-size: 3em;
}
.hero-text > span:not(:last-child) {
	/*border: 1px solid red;*/
	margin-right: 10px;
}

.hero-text > span:not(:last-child):after {
	content: 'º';
    color: rgb(137, 204, 0);
    font-size: 40px;
    position: relative;
    top: 5px;
	margin: 17px 20px;
}

/*.bio {
	width: 30%;
	border: solid gold;
	color: #fff;
}*/

/*table {
	border: solid gold;
	color: #fff;
	z-index: 9999;
	width: 300px;
	margin-left: 20px;
}*/

/*td {
	border: 1px solid #fff;
}*/

.table-container {
	/*border: solid gold;*/
	width: 350px;
	color: #fff;
	padding: 20px;
	font-weight: bold;
	font-size: 1.2em;
	background-color: rgba(0,0,0,.4);
	position: relative;
	bottom: 70px;
}

td {
	border: none !important;	
}


.bio {
	background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url(img/03_mcgcrowd.jpg) no-repeat center;
	background-size: cover;
}

.bio > .container {
	padding-top: 30px;
}

